@font-face {
	font-family: "OCR";
	src: url("./fonts/OCR-B.otf") format("opentype");
}

@font-face {
	font-family: "OCRRU";
	src: url("./fonts/ocrb.ttf") format("truetype");
}

main {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.passport_eng {
	font-family: "OCR";
}
.passport_ru {
	font-family: "OCRRU";
}

.pythagoras__range {
	display: flex;
	gap: 1rem;
	margin-bottom: 1rem;
}

.row {
	display: flex;
}

.cell {
	width: 30px;
	height: 30px;
	border: 1px solid black;
	border-right: none;


	display: flex;
	justify-content: center;
	align-items: center;
}

.cell:last-child {
	border-right: 1px solid black;
}

.border {
	background-color: skyblue;
}

.diagonal {
	background-color: darkkhaki;
}
