.tasks {
	display: flex;
	//flex-direction: column;
	gap: 1rem;
}

.task {
	border: 1px solid gray;
	padding: 1rem 2rem 2rem 2rem;
	border-radius: 10px;

	width: max-content;
}

button {
	margin-top: 0.5rem;
}
